{% load cloudinary %}

<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <title>Ambassador App</title>
	    {% load staticfiles %}
		<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
	    <link rel="stylesheet" href="{% static 'css/libs/reset.css' %}">
	    <link rel="stylesheet" href="{% static 'css/libs/bootstrap.min.css' %}">
	    <link rel="stylesheet" href="{% static 'css/base/base.css' %}">	 
	    {% block stylesheets %}{% endblock %}
	    <!--[if IE]>
	        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	</head>

	<body id="home">
		<div id="wrapper-outer">
			<div id="header-outer" class="col-md-2" style="{% if not slide %}left:0;{% endif %}">
				<div id="header-inner">
					<div id="profile-block">
						<div id="picture-block">
							<p id="name"> Mitch Kuchenberg </p>
							<img id="profile-image" src="{% static 'img/mitch.jpg' %}" alt="profile-pic" width="150" height="150">
						</div>
						<div id="profile-text">
							<img id="quote-left" src="{% static 'img/quotation-marks-left.png' %}" width="20" height="20">
							<span id="quote">
								<p style="margin-bottom:4px;font-size:16px">
									Developer.  Music lover.  Fitness enthusiast.
								</p>
							</span>
							<img id="quote-right" src="{% static 'img/quotation-marks-right.png' %}" width="20" height="20">
						</div>
					</div>
					<div id="social">
						<a href="https://github.com/mkuchen/">
							<i class="fa fa-github fa-3x"> </i>
						</a>
						<a href="https://twitter.com/MGKuchenberg">
							<i class="fa fa-twitter fa-3x"></i>
						</a>
						<a href="http://www.linkedin.com/pub/mitch-kuchenberg/62/ab1/985">
							<i class="fa fa-linkedin fa-3x"></i>
						</a>
					</div>
					<ul id="header-list">
						<li id="one" {% if one %} style="border-right: 16px solid #3276b1;border-bottom: 1px solid #3276b1;" {% endif %}><a href="/home/"> About </a></li>
						<li id="two" {% if two %} style="border-right: 16px solid #3276b1;border-bottom: 1px solid #3276b1;" {% endif %}><a href="/profile/{{user.username}}/"> Portfolio </a></li>
						<li id="three" {% if three %} style="border-right: 16px solid #3276b1;border-bottom: 2px solid #3276b1;" {% endif %}><a href="/create/" id="three"> Blog </a></li>
					</ul>
				</div>

			</div>
			<div id="content-main">
				{% block content %} {% endblock %}
			</div>
		</div>
		{% block modals %}{% endblock %}

		<script type="text/javascript" src="{% static 'js/libs/jquery-1.10.2.min.js' %}" charset="utf-8"></script>
		<script type="text/javascript" src="{% static 'js/libs/bootstrap.min.js' %}" charset="utf-8"></script>
		<script type="text/javascript" src="{% static 'js/libs/jquery.dataTables.min.js' %}" charset="utf-8"></script>
		<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
		<script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
		{% if slide %}
		<script type="text/javascript">
			$(document).ready(function() {
				// nav slide in
				$("div#header-outer").animate( {left:'0'}, 1600 );
			});
		</script>
		{% endif %}
		{% block javascript %}

		{% endblock %}
	</body>
</html>