{% extends "base/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/base/home.css' %}">
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block content %}
	<div id="banner-outer">
		<div id="banner-container">
			<h1> My name is Mitch.  I build things. </h1>
			<img id="profile-image-2" src="{% static 'img/mitch2.jpg' %}" alt="profile-pic" width="" height="">
			<div class="content-block">
				<p>
					When I was four years old I was given my first K'Nex kit.  At first I was distracted by the bright and colorful pieces, but after a while I learned that the real power of these tools wasn't in each shape on its own, but rather the designs and patterns that could be constructed by fitting them together in just the right way.  And just so, I began to imagine and build.<br>
				</p>
				<p>
					I build things.  Not because I have to or because I feel obligated.  I build things because I see them everywhere I go.  I build them because I can, because it's what I do.
				</p>
			</div>
			
		</div>
	</div>
	
	<div id="profile-main">
		<h2> Qualifications </h2><br>
		<div id="column-left">
			<p><strong>Education:</strong></p>
			<p style="position:relative;top:18px"><strong>Experience:</strong></p>
		</div>
		<div id="column-right">
			<p>
				The University of Michigan &mdash; Ann Arbor, Michigan.  December 2013<br>
				Bachelor of Science in Informatics, concentration in Social Computing
			</p>
			<ul>
				<li><span>Languages:</span> Python, C++, JavaScript, HTML, CSS, SQL</li>
				<li><span>Frameworks:</span> Django, Tornado</li>
			</ul>
		</div>
	</div>


{% endblock %}
