{% extends "base/base.html" %}

{% load staticfiles %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'css/base/home.css' %}">
{% endblock %}

{% block content %}
	<div class="wrapper">
		<div id="main-banner">
			<section class="purple-bg hero">
				<!--<div aria-hidden="true" class="globe"></div>-->
				<h3 class="banner-text">
					<span class="small">My name is</span>
					<span class="arced">
						<span class="char">M</span>
						<span class="char">i</span>
						<span class="char">t</span>
						<span class="char">c</span>
						<span class="char">h</span>
						<span class="char">&nbsp;</span>
						<span class="char">K</span>
						<span class="char">u</span>
						<span class="char">c</span>
						<span class="char">h</span>
						<span class="char">e</span>
						<span class="char">n</span>
						<span class="char">b</span>
						<span class="char">e</span>
						<span class="char">r</span>
						<span class="char">g</span>
					</span>
					<span class="small" style="margin-top:13px;padding:4px">and I build cool stuff with Python and Django</span>
				</h3>
			</section>
		</div>
		<div id="hero-bottom"></div>
	</div>
	
	<div class="row" id="top-text">
		<div class="span4" id="left">
			<h3 class="row-header"> Who I am </h3>
			<p>
				I'm a University of Michigan graduate and Python-Django developer living in the Ann Arbor area, with a passion for cool web apps and simple, elegant designs.
				<br>
				<br>
				Aside from web development, I love playing and listening to music and hitting the gym to work on my <a href="#">Olympic lifts</a>.
			</p>
		</div>
		<div class="span4" id="right">
			<h3 class="row-header"> What I do </h3>
			<p>
				I'm currenty an independent contractor working with all things Python/Django.  I'm especially fond of developing Django apps on <a href="#">Heroku</a>.
			<br>
			<br>
				I am taking on projects at the moment, so <a href="#">send a raven</a> if you think we could make cool stuff together.
			</p>
		</div>
	</div>

{% endblock %}

{% block javascript %}
	<script type="text/javascript">
		$( document ).ready(function() {
		    $( ".char" ).css( "visibility", "visible" ).css( "opacity", "1").css( "top", "0");

			$( ".one" ).click(function() {
				window.location = '/portfolio/?item=1';
				return false;
			});
			$( ".two" ).click(function() {
				window.location = '/portfolio/?item=2';
				return false;
			});
			$( ".three" ).click(function() {
				window.location = '/portfolio/?item=3';
				return false;
			});
		});
	</script>
{% endblock %}