@font-face
{
	font-family: RalewayBold;
	src: url('/static/fonts/Raleway/Raleway-Bold.otf')
}

@font-face
{
	font-family: RalewayExtraBold;
	src: url('/static/fonts/Raleway/Raleway-ExtraBold.otf')
}

@font-face
{
	font-family: RalewayLight;
	src: url('/static/fonts/Raleway/Raleway-Light.otf')
}

@font-face
{
	font-family: RalewayRegular;
	src: url('/static/fonts/Raleway/Raleway-Regular.otf')
}

@font-face
{
	font-family: RalewayExtraLight;
	src: url('/static/fonts/Raleway/Raleway-ExtraLight.otf')
}

@font-face
{
	font-family: Afta;
	src: url('/static/fonts/AftaSerifThin-Regular.otf')
}

@font-face
{
	font-family: DejaVu;
	src: url('/static/fonts/DejaVuSerif.ttf')
}

@font-face
{
	font-family: DejaVuCondensed;
	src: url('/static/fonts/DejaVuSerifCondensed.ttf')
}


html {
	height: 100%;
	width: 100%;
	min-height: 900px;
}

body {
	color: #102E37;
	margin: 0;
	height: 100%;
	width: 100%;
	min-height: 900px;
}

div.form-group {
	margin-bottom: 15px;
	float: left;
	width: 100%;
}

input.referral-files {
	float: left;
	margin-top: 8px;
}

div.form-group div#profile-pic img {
	max-width: 150px;
}

div.results img {
	max-width: 200px;
}

div#wrapper-outer {
	width: 100%;
	background-color: #E8EDE0;
	height: 100%;
	min-width: 1320px;
	min-height: 600px;
	/*background: #222 url('/static/img/graph-bg.png');*/

}

div#wrapper-outer div#header-outer {
	min-width: 350px;
	height: 100%;
	display: inline-block;
	position: relative;
	z-index: 9999;
	left: -600px;
	top: 0;
	background: #102E37 url('/static/img/graph-bg.png');
	border-right: 8px solid #FCD271;
	float: left;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}

div#wrapper-outer div#header-outer div#header-inner {
	width: 100%;
	float: right;
	padding: 12px;
}

div#wrapper-outer div#header-outer div#header-inner div#slide-bar {
	width: 100%;
	height: 24px;
	position: relative;
	border-left: 16px solid #3276b1;
	border-bottom: 2px solid #3276b1;
	background: transparent;
	z-index: 1;
}

div#wrapper-outer div#header-outer div#header-inner div#profile-block {
	display: inline-block;
	width: 100%;
	padding: 18px 0;
	border-bottom: 1px solid white;
}

div#profile-block div#ref-create-header h2 {
	margin-bottom: 0;
}

div#profile-block div#ref-create-header a {
	float: left;
	display: inline-block;
}

div#profile-block div#ref-create-header {
	float: left;
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}

div#wrapper-outer div#header-outer div#header-inner div#profile-block div#picture-block {
	font-size: 16px;
	font-weight: bold;
	color: #eee;
	text-align: center;
	display: block;
}


div#wrapper-outer div#header-outer div#header-inner div#profile-block div#picture-block p#name {
	font-family: RalewayExtraLight;
	font-size: 22px;
	letter-spacing: 2px;
	color: #F78D3F;
}

div#wrapper-outer div#header-outer div#header-inner div#profile-block div#picture-block img {
	border-radius: 86px;
	background-color: #FCD271;
	padding: 6px;
	float: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

div#wrapper-outer div#header-outer div#header-inner div#profile-block div#profile-text {
	color: #eee;
	line-height: 15px;
	margin-top: 12px;
	margin-bottom: 0;
	padding: 0 7px;
	float: center;
	margin-left: auto;
	margin-right: auto;
	height: 34px;
	width: 82%;
}

div#wrapper-outer div#header-outer div#header-inner div#profile-block div#picture-block span#name {
	font-size: 16px;
	font-weight: bold;
	color: white;
	text-align: left;
}

div#wrapper-outer div#header-outer div#header-inner div#profile-block div#profile-text span#quote {
	font-style: italic;
	color: #eee;
	font-size: 14px;
	text-align: center;
	float: left;
	width: 82%;
}

div#wrapper-outer div#header-outer div#header-inner div#profile-block div#profile-text img#quote-left {
	float: left;
}

div#wrapper-outer div#header-outer div#header-inner div#profile-block div#profile-text img#quote-right {
	float: left;
}

div#wrapper-outer div#header-outer div#header-inner div#profile-block div#profile-text span.q {
	display: block;
}

div#wrapper-outer div#header-outer div#header-inner h1 {
	font-style: italic;
	font-size: 12px;
	line-height: 25px;
	margin: 0;
	color: #FCD271;
	float: center;
	text-align: center;
}

div#wrapper-outer div#header-outer div#header-inner ul#header-list {
	display: block;
	opacity: 1;
	margin-top: 10px;
	overflow: hidden;
	padding-bottom: 8px;
	padding-top: 8px;
	padding-left: 6px;
	display: block;
	float: right;
	width: 82%;
}

div#wrapper-outer div#header-outer div#header-inner ul#header-list div.slide-container {
	display: inline-block;
	float: left;
	width: 100%;
	z-index:9000;

}

div#wrapper-outer div#header-outer div#header-inner ul#header-list li.current {
	border-left: 16px solid #3276b1;
}

div#wrapper-outer div#header-outer div#header-inner ul#header-list li {
	border-right: 16px solid transparent;
	border-bottom: 1px solid transparent;
	padding-left: 4px;
	display: block;
}

div#wrapper-outer div#header-outer div#header-inner ul#header-list li a {
	color: #FCD271;
	letter-spacing: 2px;
	font-family: RalewayRegular;
	font-size: 16px;
	line-height: 22px;
	width: 100%;
	height: 100%;
	display: block;
	text-align: right;
	padding-right: 4px;
}

div#wrapper-outer div#header-outer div#header-inner ul#header-list li a:hover {
	text-decoration: none;
}

div#wrapper-outer div#header-outer div#header-inner div#logo-block {
	background: #102E37;
	height: 82px;
	border-bottom: 1px solid #fff;
}

div#wrapper-outer div#header-outer div#header-inner div#logo-block div#logo-container {
	margin: 10px auto;
}

strong.logo {
	width: 192px;
	height: 42px;
	background-image: url('https://s3.amazonaws.com/ambassador/static/images/v2/sprite_vertical.png');
	background-position: -10px -10px;
	text-indent: -9999px;
	overflow: hidden;
	float: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

strong.logo-1 {
	width: 192px;
	height: 42px;
	background-image: url('https://s3.amazonaws.com/ambassador/static/images/v2/sprite_vertical.png');
	background-position: -10px -10px;
	text-indent: -9999px;
	overflow: hidden;
	float: center;
	display: block;
	margin-left: 0;
	margin-right: 20px;
}



strong.logo a {
	display: block;
	height: 100%;
}

strong.logo-1 a{
	display: block;
	height: 100%;
}

div#wrapper-outer div#header a#logout {
	display: block;
	font-size: 16px;
	margin-top: 18px;
}

div#wrapper-outer div#header ul#header-list li a {
	font-size: 24px;
	line-height: 26px;
	font-weight: 400;
}

ul.errorlist {
	color: red;
}


div#wrapper-outer div#content-main {
	position: absolute;
	float: left;
	display: inline-block;
	margin:10px;
	width: 730px;
}


div#wrapper-outer div#content-main p {
	font-size: 13px;
}

div#wrapper-outer div#content-main div#header {
	width: 100%;
	height: 130px;
	background:red;
}


div#wrapper-outer div#content-main table#all-links {
	width: 600px;
}

div#wrapper-outer div#content-main table#all-links th {
	line-height: 36px;
	font-size: 14px;
	padding-left: 8px;
	color: #fff;
}

div#wrapper-outer div#content-main table#all-links tr {
	border: 2px solid #fff;
	vertical-align: middle;
}

div#wrapper-outer div#content-main table#all-links tr a.col-1 {
	font-size: 14px;
}

div#wrapper-outer div#content-main table#all-links tr span.col-2 {
	font-size: 12px;
}

div#wrapper-outer div#content-main table#all-links tr a.col-5-a {
	font-size: 13px;
	margin-right:6px;
	text-decoration:underline;
}

div#wrapper-outer div#content-main table#all-links tr a.col-5-b {
	text-decoration:underline;
}

div#wrapper-outer div#content-main table#all-links thead tr {
	background-color: #428bca !important;
	font-size: 18px;
}

div#wrapper-outer div#content-main table#all-links tr td {
	background-color: transparent !important;
	font-size: 12px;
	line-height: 14px;
	vertical-align: middle;
}

div#wrapper-outer div#content-main table#all-links tr:nth-child(odd) {
	background-color: #CAE1FF;
}

div#wrapper-outer div#content-main table#all-links tr:nth-child(even) {
	background-color: #E6E8FA;
}

div#profile-block {
	display: inline-block;
	margin-bottom: 20px;
}

div#profile-block h2 {
	margin-bottom: 20px;
	margin-top: 23px;
}

div#profile-block div#profile-left {
	width: 130px;
	height: 736px;
	float: left;
	border-right: 1px solid black;
	margin-right: 20px;
}

div#profile-block div#profile-left strong {
	display: block;
	position: relative;
}

div#profile-block div#profile-right {
	float: left;
	width: 520px;
}

div#profile-block div#profile-right div#profile-picture {
	float: left;
}

div#profile-block div#profile-right div#profile-picture img {
	margin-bottom: 30px;
	border: 8px solid white;
	display: inline-block;
	height: 120px;
	width: 120px;
	float: left;
}

div#profile-block div#profile-right div.ref-pic {
	float: left;
	height: 120px;
	width: 100%;
}

div#profile-block div#profile-right div.ref-pic img {
	float: left;
	max-height: 120px;
	max-width: 580px;
}

div#profile-block div#profile-right p {
	display: inline-block;
	float:left;
}

div#profile-block div#profile-right div.profile-info-block {
	display: inline-block;
	width: 100%;
	padding: 8px;
	margin: 4px;
	border: 1px solid gray;
	border-radius: 4px;
}

div#cloudinary-input-block {
	display: inline-block;
	float: left;
	margin-left: 12px;
	position: relative;
}

div#cloudinary-input-block div#profile-pic-info {
	width: 317px;
	float: left;
	display: inline-block;
	height: 70px;
	margin-left: 12px;
	margin-top: 52px;
}

input#id_profile_image {
	float: left;
}