@font-face
{
	font-family: RalewayRegular;
	src: url('/static/fonts/Raleway/Raleway-Regular.otf')
}

h2#home {
	color: #102E37;
	font-size: 32;
}


div#form-block {
	width: 900px;
	height: 680px;
	float: center;
	background: #CAE1FF;
	padding: 14px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #fff;
}

div#banner-outer {
	width: 100%;
	height: 425px;
	background-image: url('http://wallpaperpassion.com/upload1/32058/knex-wallpaper.jpg');
}

div#banner-container {
	display: inline-block;
	width: 100%;
	height: 100%;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	background-color: rgba(0,0,0,0.8);
}

div#banner-container h1 {
	font-family: RalewayRegular;
	font-size: 30px;
	color: white;
	text-align: center;
	border-bottom: 1px solid white;
	padding-bottom: 15px;
	float: center;
	margin-left: auto;
	margin-right: auto;
	width: 78%;
	margin-top: 38px;
}

img#profile-image-2 {
	width: 181px;
	float: left;
	margin-left: 49px;
	margin-top: 22px;
	border: 1px solid white;
}

div.content-block {
	/*background: white;*/
	padding: 12px 50px;
	width: 67%;
	float: right;
}

div.content-block p {
	font-size: 14px!important;
	color: white;
	/*color: #102E37;*/
	margin: 0 0 20px;
	text-align: justify;
}

div#profile-main {
	display: inline-block;
	border-radius: 3px;
	padding: 12px 38px 18px;
	margin-left: 12px;
	margin-top: 42px;
	border: 1px solid gray;
	width: 100%;
	border-left: 0;
	border-right: 0;
}

div#profile-main h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-family: RalewayRegular;
	font-size: 16px;
	color: #FE5A1D;
	top: -21px;
	left: -8px;
	position: relative;
	background: #E8EDE0;
	float: left;
	padding: 0 6px;
}

div#profile-main div#column-left {
	display: inline-block;
	float: left;
	width: 20%;
}

div#profile-main div#column-left p{
	font-size: 14px;
}

div#profile-main div#column-right {
	display: inline-block;
	float: left;
	width: 70%;
}

div#profile-main div#column-right p{
	font-size: 14px;
}

div#profile-main div#column-right ul li {
	font-size: 14px;
}

div#profile-main div#column-right ul li span {
	text-decoration: underline;
}

/* hover dropdown menu -- extends bootstrap classes */

.sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

li.sub-hover:hover .sub-menu {
    visibility: visible;
}

.dropdown-menu {
    display: block!important;
    position: absolute;
}

.sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}

.sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

div.project-outline {
	width: 200px;
	height: 300px;
}
