h2#home {
	color: #102E37;
	font-size: 32;
}


div#form-block {
	width: 900px;
	height: 680px;
	float: center;
	background: #CAE1FF;
	padding: 14px;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #fff;
}

form img {

}