.wrapper {
	width: 100%;
	-webkit-transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-moz-transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-ms-transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-o-transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-webkit-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-moz-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-ms-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-o-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-webkit-perspective: 800;
	-moz-perspective: 800;
	-ms-perspective: 800;
	-o-perspective: 800;
	perspective: 800;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}


div#main-banner h3 {
	color: #fff;
	margin: 0;
	position: relative;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	line-height: 1;
}


h3.banner-text {
	font-size: 144px;
	font-size: 6rem;
	margin: .25em 0;
	text-align: center;
	letter-spacing: .1em;
}

#hero-bottom {
	background: #E8EDE0;
	border-bottom: 2px solid #F78D3F !important;
	height: 64px;
	width: 100%;
	-webkit-box-shadow: 0px -4px 11px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px -4px 11px rgba(50, 50, 50, 0.5);
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
	background-repeat: repeat-x;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.35);
	color: #ffffff;
	-webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
}

.purple-bg {
	background: url(/static/img/map.png) fixed repeat center center,url(/static/img/fleck-white.png) repeat center center fixed,url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background: url(/static/img/map.png) fixed repeat center center,url(/static/img/fleck-white.png) repeat center center fixed,-webkit-gradient(radial,50% 50%,0,50% 50%,50,color-stop(0%,#feeabc),color-stop(50%,#fcd271));
	background: url(/static/img/map.png) fixed repeat center center,url(/static/img/fleck-white.png) repeat center center fixed,-webkit-radial-gradient(#feeabc,#fcd271 50%);
	background: url(/static/img/map.png) fixed repeat center center,url(/static/img/fleck-white.png) repeat center center fixed,-moz-radial-gradient(#feeabc,#fcd271 50%);
	background: url(/static/img/map.png) fixed repeat center center,url(/static/img/fleck-white.png) repeat center center fixed,-o-radial-gradient(#feeabc,#fcd271 50%);
	background: url(/static/img/map.png) fixed repeat center center,url(/static/img/fleck-white.png) repeat center center fixed,radial-gradient(#feeabc,#fcd271 50%);
}

.hero:before {
	bottom: auto;
	top: 32px;
}

.hero:before, .hero:after {
	bottom: 32px;
	content: "";
	height: 2px;
	left: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
	opacity: .1;
	position: absolute;
	right: 0;
	width: 100%;
}

.hero:after {
	bottom: 32px;
	content: "";
	height: 2px;
	left: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
	opacity: .1;
	position: absolute;
	right: 0;
	width: 100%;
}

.hero .globe {
	background: url(/static/img/world.png) no-repeat center center;
	left: 50%;
	margin: -576px 0 0 -576px;
	position: absolute;
	height: 1152px;
	top: 50%;
	width: 1152px;
}

.hero h3 .arced {
	display: block;
	font-family: RalewayExtraBold, sans-serif;
	font-size: 82px;
	font-weight: 600;
	line-height: 1;
	letter-spacing: 12px;
	padding: .6em 0 .2em;
	text-shadow: 8px 8px rgba(0,0,0,0.3);
	visibility: hidden;
	opacity: 0;
	position: relative;
	top: 100px;
	-webkit-mask-image: url("/static/img/text-mask.png");
	-moz-mask-image: url("/static/img/text-mask.png");
	-ms-mask-image: url("/static/img/text-mask.png");
	-o-mask-image: url("/static/img/text-mask.png");
	mask-image: url("/static/img/text-mask.png");
	text-transform: uppercase;
}

.hero h3.first span.arced {
	font-size: 50px!important;
	letter-spacing: 3px!important;
}

.hero h3.second span.arced {
	font-size: 82px!important;
	letter-spacing: 12px!important;
}

.hero h3 > span {
	-webkit-transition: all 500ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-moz-transition: all 500ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-ms-transition: all 500ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-o-transition: all 500ms cubic-bezier(0.865,-0.15,0.085,1.21);
	transition: all 500ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-webkit-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-moz-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-ms-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-o-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	visibility: hidden;
}

.hero h3 > span {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	visibility: visible;
	color: #222222;
}

.hero h3 .small {
	display: block;
	font-family: RalewayRegular, sans-serif;
	color: #222222;
	font-size: 24px;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 4px;
	text-transform: none;
	visibility: visible;
	padding-bottom: 34px;
}

.hero h3 .small:nth-child(1) {
	-webkit-animation: home-hero-small .5s cubic-bezier(0.865,-0.15,0.085,1.21) 0s 1 both;
	-moz-animation: home-hero-small .5s cubic-bezier(0.865,-0.15,0.085,1.21) 0s 1 both;
	-ms-animation: home-hero-small .5s cubic-bezier(0.865,-0.15,0.085,1.21) 0s 1 both;
	-o-animation: home-hero-small .5s cubic-bezier(0.865,-0.15,0.085,1.21) 0s 1 both;
	animation: home-hero-small .5s cubic-bezier(0.865,-0.15,0.085,1.21) 0s 1 both;
	padding-top: 44px;
}

.hero h3 .small:nth-child(1) {
	padding-top: 64px;
}

h3.row-header-left {
	color: #222222;
	font-size: 32px;
	font-family: RalewayExtraBold, sans-serif;
	padding-top: 18px;
	position: relative;
	text-transform: uppercase;
	margin-bottom: 12px;
	text-align: left;
}

h3.row-header-left:before {
	background: #222222;
	content: "";
	height: 8px;
	left: 0;
	position: absolute;
	top: 0;
	width: 64px;
}

div#portfolio-items {
	width: 100%;
	height: 495px;
	padding: 14px 0;
	background: #222222;
	background-color: rgba(0,0,0,0.85);
	border-bottom: 2px solid #F78D3F !important;
	color: #e8ede0;
	-webkit-box-shadow: 0px 4px 11px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 4px 11px rgba(50, 50, 50, 0.5);
	box-shadow: 0px 4px 11px rgba(50, 50, 50, 0.5);
}

div.item {
	width: 1100px;
	height: 400px;
	float: center;
	margin-left: auto;
	margin-right: auto;
	padding: 24px 30px;
}

div.item div.item-banner {
	width: 100%;
	display: inline-block;
}

div.item div.item-banner div.headings {
	width: 400px;
	float: left;
}

span.char2 {
	font-style: italic;
	font-size: 17px;
}

div.heading-logos {
	width: 1000px;
	float: center;
	margin-left: auto;
	margin-right: auto;
}


div.heading-logos.first img {
	padding: 0 36px;
	vertical-align: top;
}

div.heading-logos.second img {
	padding: 0 40px;
	vertical-align: top;
}

div.heading-logos.third img {
	padding: 0 88px;
	vertical-align: top;
}

div.heading-logos div.logo-divider {
	height: 40px;
	width: 1px;
	display: inline-block;
	background: gray;
	margin-top: 10px;
}

div.item.first div.item-left {
	float: left;
	width: 75%;
	margin: 12px 0 12px 44px;
	height: 100%;
}


div.item.second div.item-left {
	float: left;
	width: 50%;
	margin: 12px 0 12px 44px;
	height: 100%;
}

div.item.third div.item-left {
	float: left;
	width: 46%;
	margin: 12px 0 12px 44px;
	height: 100%;
}


div.item div.item-right {
	float: left;
	width: 19%;
	margin: 12px 8px;
	height: 100%;
	background: #0d0d0d;
}

div.item div.item-left div.sub-item {
	float: left;
	margin-bottom: 12px;
}

div.item div.item-left div.sub-item p.heading {
	font-size: 14px;
	margin-bottom: 0;
	color: #F78D3F;
	border-left: 8px solid #f78d3f;
	padding-left: 8px;
}

div.item div.item-left div.sub-item p.specs {
	font-size: 13px;
	line-height: 16px;
	margin-left: 16px;
	font-family: "ABZ", "sans serif";
	border-left: 1px solid gray;
	padding-left: 8px;
}

div.item div.item-left div.sub-item ul {
	padding-left: 2px;
	padding-left: 42px;
	font-size: 13px;
	line-height: 16px;
	list-style-type: square;
}

div.item div.item-img {
	float: left;
}

div.item.first div.item-img img {
	width: 200px;
	margin-top: 11px;
	margin-bottom: 7px;
}

div.item.second div.item-img img {
	width: 450px;
	margin-top: 11px;
	margin-bottom: 7px;
}


div.item div.item-img p {
	font-size: 12px;
}

.slide-hidden {
	display: none;
	left: 2000px;
	opacity: 0;
}

.first, .second, .third {
	-webkit-transition: all 500ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-moz-transition: all 500ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-ms-transition: all 500ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-o-transition: all 500ms cubic-bezier(0.865,-0.15,0.085,1.21);
	transition: all 500ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-webkit-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-moz-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-ms-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-o-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	position: relative;
}