.wrapper {
	width: 100%;
	-webkit-transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-moz-transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-ms-transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-o-transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	transition: all 800ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-webkit-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-moz-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-ms-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-o-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-webkit-perspective: 800;
	-moz-perspective: 800;
	-ms-perspective: 800;
	-o-perspective: 800;
	perspective: 800;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
}


div#main-banner h3 {
	color: #fff;
	margin: 0;
	position: relative;
	text-shadow: 0 1px 2px rgba(0,0,0,0.5);
	line-height: 1;
}


h3.banner-text {
	font-size: 144px;
	font-size: 6rem;
	margin: .25em 0;
	-webkit-mask-image: url("/static/img/text-mask.png");
	-moz-mask-image: url("/static/img/text-mask.png");
	-ms-mask-image: url("/static/img/text-mask.png");
	-o-mask-image: url("/static/img/text-mask.png");
	mask-image: url("/static/img/text-mask.png");
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .1em;
}

#hero-bottom {
	background: #222222;
	height: 26px;
	width: 100%;
	border-top: 2px solid #F78D3F;
	-webkit-box-shadow: 0px -4px 11px rgba(50, 50, 50, 0.5);
	-moz-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.75);
	box-shadow: 0px -4px 11px rgba(50, 50, 50, 0.5);
}

.purple-bg {
	background: url(/static/img/map.png) fixed repeat center center,url(/static/img/fleck-white.png) repeat center center fixed,url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
	background: url(/static/img/map.png) fixed repeat center center,url(/static/img/fleck-white.png) repeat center center fixed,-webkit-gradient(radial,50% 50%,0,50% 50%,50,color-stop(0%,#feeabc),color-stop(50%,#fcd271));
	background: url(/static/img/map.png) fixed repeat center center,url(/static/img/fleck-white.png) repeat center center fixed,-webkit-radial-gradient(#feeabc,#fcd271 50%);
	background: url(/static/img/map.png) fixed repeat center center,url(/static/img/fleck-white.png) repeat center center fixed,-moz-radial-gradient(#feeabc,#fcd271 50%);
	background: url(/static/img/map.png) fixed repeat center center,url(/static/img/fleck-white.png) repeat center center fixed,-o-radial-gradient(#feeabc,#fcd271 50%);
	background: url(/static/img/map.png) fixed repeat center center,url(/static/img/fleck-white.png) repeat center center fixed,radial-gradient(#feeabc,#fcd271 50%);
}

.hero:before {
	bottom: auto;
	top: 32px;
}
/*
.hero:before, .hero:after {
	background: url(/static/img/big-dash.png) repeat;
	bottom: 32px;
	content: "";
	height: 2px;
	left: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
	opacity: .1;
	position: absolute;
	right: 0;
	width: 100%;
}
*/
.hero:after {
	background: url(/static/img/big-dash.png) repeat;
	bottom: 32px;
	content: "";
	height: 2px;
	left: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
	opacity: .1;
	position: absolute;
	right: 0;
	width: 100%;
}

.hero .globe {
	background: url(/static/img/world.png) no-repeat center center;
	left: 50%;
	margin: -576px 0 0 -576px;
	position: absolute;
	height: 1152px;
	top: 50%;
	width: 1152px;
}

.hero h3 .arced span.char {
	visibility: hidden;
	opacity: 0;
	position: relative;
	top: 100px;
}

.hero h3 .arced > span {
	-webkit-transition: all 500ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-moz-transition: all 500ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-ms-transition: all 500ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-o-transition: all 500ms cubic-bezier(0.865,-0.15,0.085,1.21);
	transition: all 500ms cubic-bezier(0.865,-0.15,0.085,1.21);
	-webkit-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-moz-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-ms-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	-o-transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	transition-timing-function: cubic-bezier(0.865,-0.15,0.085,1.21);
	display: inline-block;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	visibility: hidden;
}

.hero h3 .arced > span {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
	visibility: visible;
	color: #222222;
}

.hero h3 .small {
	display: block;
	font-family: RalewayRegular, sans-serif;
	color: #222222;
	font-size: 32px;
	font-weight: 400;
	line-height: 1;
	letter-spacing: 8px;
	text-transform: none;
	visibility: visible;
}

.hero h3 .small:nth-child(1) {
	-webkit-animation: home-hero-small .5s cubic-bezier(0.865,-0.15,0.085,1.21) 0s 1 both;
	-moz-animation: home-hero-small .5s cubic-bezier(0.865,-0.15,0.085,1.21) 0s 1 both;
	-ms-animation: home-hero-small .5s cubic-bezier(0.865,-0.15,0.085,1.21) 0s 1 both;
	-o-animation: home-hero-small .5s cubic-bezier(0.865,-0.15,0.085,1.21) 0s 1 both;
	animation: home-hero-small .5s cubic-bezier(0.865,-0.15,0.085,1.21) 0s 1 both;
	padding-top: 44px;
}

.hero h3 .small:nth-child(1) {
	padding-top: 64px;
}

.hero h3 .arced {
	display: block;
	font-family: RalewayExtraBold, sans-serif;
	font-size: 82px;
	font-weight: 600;
	line-height: 1;
	letter-spacing: 7px;
	padding: .6em 0 .6em;
	text-shadow: 8px 8px rgba(0,0,0,0.3);
}

div#top-text {
	margin-top: 26px;
	width: 1100px!important;
	float: center;
	margin-left: auto;
	margin-right: auto;
}

div#top-text p {
	text-align: justify;
	font-size: 18px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 26px;
}

div#top-text div#left {
	margin-right: 120px;
	margin-left: 120px;
}

h3.row-header {
	color: #222222;
	font-size: 32px;
	font-family: RalewayExtraBold, sans-serif;
	padding-top: 32px;
	position: relative;
	text-transform: uppercase;
	text-align: left;
	margin-bottom: 28px;
}

h3.row-header:before {
	background: #222222;
	content: "";
	height: 8px;
	left: 0;
	position: absolute;
	top: 0;
	width: 64px;
}
